{% extends "wrapper.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="wrapper">

	<div class="title-container">
		<h1 class="title">Apple FaceID verificator</h1>
		<h2 class="subtitle">The world's most expensive authentication platform</h2>
	</div>

	<div class="info-container">

		<p>Face ID (BETA) vous permet, en toute sécurité, de déverrouiller votre iPhone ou iPad, d’authentifier des achats, de vous connecter à des apps, et bien plus encore, le tout d’un simple regard.</p>

		<p>Utilisateurs actuels de FaceID:</p>
		<ul>
			<li>Mr. Airplane</li>
			<li>Ms. Automobile</li>
			<li>Ms. Bird</li>
			<li>Mr. Cat</li>
			<li><strong>Mr. Deer [VIP]</strong></li>
			<li>Mr. Dog</li>
			<li>Mr. Frog</li>
			<li>Mrs. Horse</li>
			<li>Mrs. Ship</li>
			<li>Ms. Truck</li>
		</ul>

		<p>L'application permettra bientot d'avoir plus d'utilisateur !</p>

	</div>
	<div class="card">
		<div class="card-body">
			<div class="info-prompt">

				<p><b>Connexion:</b></p>
				<p>Inserer une image de vous pour vous connectez</p>
				<input class="btn btn-dark" id="image-upload" type="file" accept="image/*"/>

			</div>
		</div>
	</div>

	<div class="secret-display">

		<div id="authenticated-secret" style="visibility: hidden;">
			<p id="greeting"></p>
			<p>Voici le secret que vous avez enregistré:</p>
			<p id="secret"></p>
		</div>
	</div>
</div>

<!-- TODO: cleanup metadata txt (robots, humans, etc) -->

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/send.js') }}"></script>
{% endblock %}